.list{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.item{
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 10px;
    
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.text {
    font-weight: 600;
}

.descriptionWrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.description {
    margin-top: 10px;
    padding-top: 10px;
    color: #555;
    line-height: 1.5;
    border-top: 1px solid #000;
}

.title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.wrapper svg{
    transition: .5s all;
}

@media (min-width: 762px){
}

@media (min-width: 992px){
    .text {
        font-size: 18px;
    }
}

@media (min-width: 1200px){
    .list{
        row-gap: 25px;
    }

    .item{
        padding: 25px;
    }

    .description {
        margin-top: 15px;
        padding-top: 15px;
    }
}