.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, .1);
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    font-family: "Aldrich";
    text-transform: uppercase;
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.profile img{
    width: 35px;
}

.navigation{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.slogan{
    width: 100%;
}

.text{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
}

.item{
    color: #000;
    font-size: 14px;
}

@media (min-width: 762px){
    .logo{
        font-size: 26px;
    }
}

@media (min-width: 992px){
    .header{
        padding: 20px 0;
    }

    .text{
        padding: 10px 0;
        font-size: 14px;
    }

    .logo{
        font-size: 28px;
    }

    .item{
        color: #000;
        font-size: 16px;
    }

    .profile img{
        width: 40px;
    }
}

@media (min-width: 1200px){
    .logo{
        font-size: 30px;
    }
}